@import url("https://use.typekit.net/edf1wmn.css");

:root {
    --background-color: lightgray;
    --fieldset-color:white;
    --button-color:white;
    --button-text:black;
    --nav-color:black;
    --nav-text:white;
    --drop-shadow:violet;
}

@media (prefers-color-scheme: dark ) {
    :root {
        --background-color: gray;
        --fieldset-color:black;
        --button-color:black;
        --button-text:white;
        --nav-color:white;
        --nav-text:black;
        --drop-shadow:black;
    }
}

/*----------------------------------------------- algemene styling --------------------------------------------------------*/
body {
    background-color: var(--background-color);
    padding: 1em;
    font-family: "interstate", sans-serif;

}

h1 {
    display: grid;
    place-content: center;
    text-align: center;
    margin: 2em 0 1em 0;
    font-family: "interstate", sans-serif;

}


fieldset {
    background-color: var(--fieldset-color);
    border-radius: 1em;
    padding: 1em;
    border: black solid .3em;
    width: 50vw;
}

@media screen and (max-width: 50em) {
    fieldset {
        width: 80vw;
    }
  }

nav ol {
    display: flex;
    list-style: none;
    gap: 1em;
    padding: 0;
}

nav ol li {
    flex-grow: 1;
    font-size: 1em;
    background-color: var(--nav-color);
    border-radius: 1em;
    display: grid;
    place-content: center;
    padding: .5em 0 .5em 0;
}

nav ol li a {
    color: var(--nav-text);
    text-decoration: none;
}

a.current {
    opacity: 40%;
    /* filter:opacity(60%); */
}

nav ol li:has(:not(.current):hover) {
    filter: drop-shadow(0 0 1em var(--drop-shadow));
}

#form{
    display: grid;
    place-content: center;
    /* max-width: 40em; */
}

#form button {
    width: 10em;
    height: 2em;
    min-width: 2em;
    color: var(--button-text);
    border-radius: 1em;
    border: black .2em solid;
    margin-top: 1em;
}

#form button:hover {
    background-color: var(--drop-shadow);
}

.radio > label {
    font-size: 1.1em;
}

/*----------------------------------------------- gegevens --------------------------------------------------------*/
#gegevens label {
    display: flex;
    flex-direction: column;
    position: relative;
}

#gegevens label input {
    border-radius: 1em;
    padding: .5em;
    border: black .2em solid;
}

#gegevens {
    width: 40vw;
}

@media screen and (max-width: 44em) {
    #gegevens {
        width: 70vw;
    }
  }

#gegevens input[type="text"]:valid {
    flex: 1;
}

#gegevens label:has(input[type="text"]:valid, input[type="number"]:valid, input[type="email"]:valid)::after {
    content: '✓';
    color: green;
    position: absolute;
    top: 50%;
    right: 1em;
}

#gegevens label:has(input[type="text"]:invalid, input[type="number"]:invalid, input[type="email"]:invalid)::after {
    content: "verplicht veld";
    color: red;
    font-size: .8em;
    padding-left: .5vw;
}

/*----------------------------------------------- radiobuttons ----------------------------------------------------*/
.radio-group {
    display: flex;
}

label {
    display: flex;
    margin: 0 1vw;
    cursor: pointer;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 2.3em;
    width: 2em;
    cursor: pointer;
}

.emoji {
    font-size: 3vw;
}

@media screen and (max-width: 50em) {
    .emoji {
        font-size: 6vw;
    }
  }

.emoji:hover {
    filter: hue-rotate(90deg);
}

input[type="radio"]:checked+.emoji {
    transform: scale(1.3);
    filter: drop-shadow(0 0 3px var(--drop-shadow));
    filter: hue-rotate(90deg);
}

/*----------------------------------------------- Vakken --------------------------------------------------------*/
fieldset > h2, h3 {
    margin: .3em 0;
    font-family: "interstate", sans-serif;
}

fieldset > p {
    font-family: "interstate", sans-serif;
    line-height: 1.5em;
    margin: .3em 0;
}

.vraag {
    font-family: "interstate", sans-serif;
}

#klaar {
    display:grid;
    place-items: center;
    margin-top: 25vh;
}

